[tools]
"cargo:https://github.com/sevenc-nanashi/aviutl2-aulua" = "branch:feat/multiple-includes"
clang = "latest"
"github:rvben/rumdl" = "latest"
"npm:chokidar-cli" = "latest"
"npm:lefthook" = "latest"
ruby = "latest"
stylua = "latest"

[hooks]
postinstall = ["lefthook install", "bundle"]

[tasks.build]
description = "Build scripts"
run = ["rake build"]

[tasks.build-dry]
description = "Check if build is up to date"
run = ["rake build:dry"]

[tasks.dev]
description = "Development mode with file watching"
run = ['mise watch -w ./scripts -i ./scripts/*.* build']

[tasks.format]
description = "Format code"
run = [
  "stylua .",
  "rumdl fmt .",
  "clang-format -i --fail-on-incomplete-format -- ./**/*.hlsl",
  "rake stree:write",
]

[tasks.lint]
description = "Lint code"
run = [
  "stylua -c .",
  "rumdl check .",
  "clang-format -i -- ./**/*.hlsl",
  "rake stree:check",
]

[tasks.check]
description = "Checks that should pass before committing main"
depends = ["lint", "build-dry"]
