[tools]
"cargo:https://github.com/sevenc-nanashi/aviutl2-aulua" = "branch:feat/multiple-includes"
"npm:chokidar-cli" = "latest"
"npm:lefthook" = "latest"
ruby = "latest"

[hooks]
postinstall = ["lefthook install"]

[tasks]
build = ["rake"]
dev = ['chokidar ./scripts/*/*.* --initial -i ./scripts/*.* -c rake']
