# yaml-language-server: $schema=https://json.schemastore.org/github-workflow.json
name: lefthook

on:
  pull_request:
  workflow_dispatch:

defaults:
  run:
    shell: bash

jobs:
  run:
    # TODO: auluaが対応したらubuntu-latestで回す
    # https://github.com/karoterra/aviutl2-aulua/issues/12
    runs-on: windows-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Set up mise
        uses: jdx/mise-action@v3
        with:
          install: true

      - name: Prepare mise shims path
        run: |
          echo "$LOCALAPPDATA/mise/shims" >> $GITHUB_PATH
          mise reshim

      - name: Run lefthook pre-push
        run: lefthook run pre-push
